<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>
  <body>
    <div class="navbar-1">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" style="font-size: 38px;" href="/utama">MOCA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">&#8801;</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('groups')}}"><img src="{{ url_for('static', filename='images/users-alt.png') }}" alt="Image">Groups</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{ url_for('static', filename='images/book-bookmark.png') }}" alt="Image">Learning
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color :rgba(225, 71, 50, 0.79);">
                  <li><a class="dropdown-item" href="{{ url_for('mentalsuport')}}"><img src="{{ url_for('static', filename='images/head-side-thinking.png') }}" alt="Image">Suport Mental</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/hand-holding-heart.png') }}" alt="Image">Diagnosis Area</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{ url_for('static', filename='images/id-badge.png') }}" alt="Image">  Referral 
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color :rgba(225, 71, 50, 0.79);">
                  <li><a class="dropdown-item" href="{{ url_for('hospital')}}"><img src="{{ url_for('static', filename='images/hospital.png') }}" alt="Image">Hospital</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('consultan')}}"><img src="{{ url_for('static', filename='images/user-md.png') }}" alt="Image">Consultan</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('podcast')}}"> <img src="{{ url_for('static', filename='images/user-md-chat.png') }}" alt="Image"> Podcast</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{{ url_for('profile')}}"><span id="span_1"><img src="{{ url_for('static', filename='images/user (1).png') }}" alt="Image"></span></a>
              </li>
            </ul>
          </div>
        </div>
        
      </nav>
    </div>
    
    <div class="container-chat" style="padding-bottom: 30px;">
    <h1>MOCA Chatbot </h1>
    <div id="chat-container"></div>
    <div class="form">
    <input type="text" id="message-input" placeholder="Type your message...">
    <button id="send-button"><img src="{{ url_for('static', filename='images/send (1).png') }}" ></button>
</div>
    <script>
        $(document).ready(function() {
            $("#send-button").click(function() {
                var message = $("#message-input").val();

                $.ajax({
                    url: "/chat",
                    type: "POST",
                    dataType: "json",
                    data: { message: message },
                    success: function(response) {
                        $("#chat-container").append("<p class='user' ><strong>You:<br></strong> " + message + "</p>");
                        $("#chat-container").append("<p class='bot'><strong>Bot:<br></strong> " + response + "</p>");
                        $("#message-input").val("");
                        $botMessage.addClass("slide");
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
    </div>
    
    <div class="container">
      <div class="row featurette my-5">
        <hr>
        <h1 style="font-family: 'Lilita One', cursive; text-align: center;padding-bottom: 10px;"><u>VIDEOS </u></h1>
        <div class="col-md-7 order-md-2 text-center align-items-center ms-5">
          <!-- <h2 class="featurette-heading ms-4">Cara Meningkatkan Kualitas Hidup Bagi Penderita Gagal Ginjal</h2>
          <p class="lead ms-4">REHAT (Ruang Sehat) bersama dengan dr. Lusito, Sp.PD-KGH  </p> -->
          <iframe width="1100" height="515" src="https://www.youtube.com/embed/Pn-dxeBXMOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>

   <div class="container px-0 py-5" id="featured-">
  <h4 style="font-family: 'Lilita One', cursive;"><u>VIDEOS CATEGORIES</u></h4>
  <div class="row g-0 py-3 row-cols-1 row-cols-lg-3">
    <div class="col-lg-6 border shadow p-2  my-3 text-center bg-body rounded  p-3">
      <div class="feature-icon ">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tKAG2uxsBFo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
     </div>
     <div class="col-lg-6 border shadow p-3  my-3 text-center bg-body rounded  p-3">
      <div class="feature-icon ">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gOIG-2ftfcI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/tKAG2uxsBFo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
      </div>
     </div>
     <div class="col-lg-6 border shadow p-2  my-3 text-center bg-body rounded  p-3">
      <div class="feature-icon ">
       
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jTpFUr2xNbk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/tKAG2uxsBFo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
      </div>
     </div>
     <div class="col-lg-6 border shadow p-3  my-3 text-center bg-body rounded  p-3">
      <div class="feature-icon ">
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3cyi1_u_AXI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/tKAG2uxsBFo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
      </div>
     </div>
    </div>
   </div>
     <!-- Footer -->
  <footer
  class="text-center text-lg-start text-white"
  style="background-color: #1c2331"
  >
<!-- Section: Social media -->
<section
     class="d-flex justify-content-between p-4"
     style="background-color:rgba(225, 71, 50, 0.79);"
     >
<!-- Left -->
<div class="me-5">
<span>More of me</span>
</div>
<!-- Left -->

<!-- Right -->
<div>
<a href="" class="text-white me-4">
  <i class="fab fa-facebook-f"></i>
</a>
<a href="" class="text-white me-4">
  <i class="fab fa-twitter"></i>
</a>
<a href="" class="text-white me-4">
  <i class="fab fa-google"></i>
</a>
<a href="" class="text-white me-4">
  <i class="fab fa-instagram"></i>
</a>
<a href="" class="text-white me-4">
  <i class="fab fa-linkedin"></i>
</a>
<a href="" class="text-white me-4">
  <i class="fab fa-github"></i>
</a>
</div>
<!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
<div class="container text-center text-md-start mt-5">
<!-- Grid row -->
<div class="row mt-3">
  <!-- Grid column -->
  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    <!-- Content -->
    <h2 class="font-weight-bold">Moca</h6>
    <hr
        class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: rgba(225, 71, 50, 0.79); height: 2px"
        />
    <p>
      Here you can use rows and columns to organize your footer
      content. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit.
    </p>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    <!-- Links -->
    <h3 class="font-weight-bold">Features</h6>
    <hr
        class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: rgba(225, 71, 50, 0.79); height: 2px"
        />
    <p>
      <a href="#!" class="text-white">Groups</a>
    </p>
    <p>
      <a href="#!" class="text-white">Learning</a>
    </p>
    <p>
      <a href="#!" class="text-white">Referral</a>
    </p>
    <p>
      <a href="#!" class="text-white">Bootstrap Angular</a>
    </p>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    <!-- Links -->
    <h3 class="font-weight-bold">Suport</h6>
    <hr
        class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: rgba(225, 71, 50, 0.79); height: 2px"
        />
    <p>
      <a href="#!" class="text-white">UNISSULA</a>
    </p>
    <p>
      <a href="#!" class="text-white">FKIP</a>
    </p>
    <p>
      <a href="#!" class="text-white">FTI</a>
    </p>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    <!-- Links -->
    <h3 class="font-weight-bold">Contact</h6>
    <hr
        class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: rgba(225, 71, 50, 0.79); height: 2px"
        />
    <p><i class="fas fa-home mr-3"></i> IG</p>
    <p><i class="fas fa-envelope mr-3"></i> EMAIL</p>
    <p><i class="fas fa-phone mr-3"></i> PHONE</p>
  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->
</div>

</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div
 class="text-center p-3"
 style="background-color: rgba(0, 0, 0, 0.2)"
 >
© 2023 MOCA
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>
